@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Dashboard</h1>
    <p class="lead">A web application to keep track of household tasks</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stock Watchlist</h2>
        <p>
            Add stocks to watchlist database. Stock Dtails queries the Yahoo Finance API to give you up to date information on your stocks.
        </p>
        <p>
            <a class="btn btn-primary" href=@Url.Action("WatchList", "Stocks")>WatchList</a>
            <a class="btn btn-default" href=@Url.Action("ListDetails", "Stocks")>Stock Info</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Purchases</h2>
        <p>
            Track construction loan draw purchases
        </p>
        <p>
            <a class="btn btn-primary" href=@Url.Action("Index", "Purchases")>Purchases</a>
        </p>
    </div>
</div>