@model DashboardWebUI.Models.StockSymbolModel

@{
    ViewBag.Title = "RemoveStockFromList";
}

<h2>Remove Stock From List</h2>

<h3 class="alert-danger">Are you sure you want to delete the stock below?</h3>
<div>
    <dl>
        <dd class="h3">
            @Html.DisplayFor(model => model.Symbol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <button class="btn btn-default"> @Html.ActionLink("Back to List", "ViewStockWatchList") </button>
</div>
    }
</div>
